* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff/YekanBakhFaNum-thin.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-thin.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBold.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff/Yekan Bakh FaNum-Black.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 950;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBlack.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBlack.woff2") format("woff2");
}

body {
  font-family: YekanBakh;
  background: #000;
}

/* Header Styles */
#header {
  display: flex;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  border-radius: 20px;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  background: #f1b10f;
  z-index: 1000;
}

#header.scrolled {
  background: #941b0c;
  border-radius: 0;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all ease 0.5s;
}

  #header .header-title.scrolled {
    color: #f5f5f5;
  }

#header .header-title {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 2.1875rem;
  color: #941b0c;
  font-weight: 700;
  &:hover {
    cursor: pointer;
  }
}

#header .header-title img {
  width: 60px;
}

/* Navbar styles */

#header .navbar .nav-list {
  display: flex;
  list-style: none;
  gap: 0px;
  font-weight: 700;
  align-items: stretch;
  justify-content: space-between;
}
#header .navbar .nav-list a {
  color: white;
  font-size: 1.25rem;
  padding: 30px 20px;
  text-decoration: none;
  &:hover {
    transition: all ease 0.1s;
    border-bottom: 5px solid #ffffff;
  }
}

/* btn header */
#header .header-btn {
  display: flex;
  gap: 10px;
}

#header .header-btn-call,
#header .header-btn-hamburger {
  cursor: pointer;
  border: none;
  color: white;
  background: #941b0c;
  border-radius: 10px;
padding: 5px 2px;
  &:hover {
    transition: all 0.5s;
    rotate: 45deg;
  }
}

#header .header-btn-hamburger {
  display: none;
}

@media(max-width: 760px){
  #header .header-btn-hamburger {
  display: block;
  }
  #header .header-btn-call {
  display: none;
  }
  #header .navbar {
    display: none;
  }
}

/* -- Main -- */
body {
  background: url(images/pattern.jpg) no-repeat center center fixed;
  background-size: cover;
}
#main {
  background: transparent;
  position: relative;
}


#main .main-section{
  text-align: center;
  border-radius: 10px;
  padding: 50px 0px;
  color: white;
  background: #941b0c;
  align-items: center;
  margin: 0px 100px;
  margin-top: 250px;
  transition: box-shadow ease 0.3s;
    &:hover{
      box-shadow: 0px 5px 0px #ffffff;
    }
}

#main .main-section .main-gomenu{
    display: block;
    width: 30%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 15px 0px;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #941b0c;
    background: #f1b10f;
    &:hover{
        transition: all 0.5s;
        transform: scale(1.1,1.1);
    }
}

/* Main Type food */

#main .foods{
  display: flex;
  margin: 100px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 1000px){
  #main .foods {
    justify-content: center;
  }
}

#main .foods .food-type{
  gap: 20px;
  background: #f1b10f;
  padding: 40px;
  border-radius: 0.5rem;
  transition: box-shadow ease 0.3s;
  &:hover{
    box-shadow: 0px 5px 0px #ffffff;
  }
}

#main .foods .food-type .food-text{
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#main .foods .food-type button{
  font-family: YekanBakh;
  font-size: 16px;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
  background: #941b0c;
  cursor: pointer;
  &:hover{
        transform: scale(1.05,1.05);
        transition: all 0.5s;
  }
}

#main .foods .food-type button a{
  text-decoration: none;
  color: #f5f5f5;
}

#main .foods .food-type img{
  border-radius: 0.5rem;
  width: 200px;
}

/* Main Feedback */

#main .feedback{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
}

#main .feedback .feed-container{
    margin: 10px;
    border-radius: 0.5rem;
    padding: 50px;
    text-align: center;
    background: #ffffff;
    &:hover{
        transform: scale(1.05,1.05);
        transition: all 0.5s;
    }
}

#main .feedback .feed-container .feed-logo{
    display: block;
    margin: 0 auto;
}

#main .feedback .feed-container .feed-name{
    display: block;
    margin: 0 auto;
}
    
