* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff/YekanBakhFaNum-thin.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-thin.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBold.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff/Yekan Bakh FaNum-Black.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 950;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBlack.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBlack.woff2") format("woff2");
}

body{
    background: linear-gradient(60deg,#7c1818,#daa512);
    font-family: YekanBakh;
}

.addMenuContainer{
    width: 400px;
    margin: 0 auto;
    text-align: center;
    
    margin-top: 180px;
    margin-bottom: 50px;
    background: whitesmoke;
    border-radius: 0.5rem;
    display: block;
    padding: 20px;
    box-shadow: -10px 0px 0px #5ba507;
}

.addMenuContainer .addInput{
    display: block;
    width: 100%;
    padding: 10px 10px;
    border: #43cf27 2px solid;
    font-family: YekanBakh;
    font-size: 16px;
    border-radius: 0.5rem;
    &:focus{
        outline: none;
        outline: 3px solid #3a9417;
        border: transparent 2px solid;
    }
}

.addMenuContainer label{
    display: block;
    text-align: right;
    
}

.addMenuContainer select{
    border: #43cf27 2px solid;

    font-family: YekanBakh;
    display: block;
    width: 100%;
    padding: 10px 10px;
    border-radius: 0.5rem;
    text-align: center;
    &:focus{
        outline: none;
        outline: 3px solid #3a9417;
        border: transparent 2px solid;
    }
}

.addMenuContainer .container_input,
.addMenuContainer #foodTypeLabel{
    margin-top: 20px;
}

.addMenuContainer select option{
    
}

.addMenuContainer button{
    margin-top: 20px;
    background: #58d427;
    color: #f5f5f5;
    border: none;

    font-family: YekanBakh;
    font-size: 16px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 0.5rem;

    display: block;
    transition: background ease 0.3s;

    &:hover{
        background: #3a9417;
    }
}