*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff/YekanBakhFaNum-thin.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-thin.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBold.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff/Yekan Bakh FaNum-Black.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 950;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBlack.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBlack.woff2") format("woff2");
}


body{
    font-family: yekanbakh;
    background: linear-gradient(45deg,#680000 30%,#01350e 100%);
}

/* menu main styles */

@media(min-width: 650px ){
  main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  main .menu-container{
    width: 550px;
  }
}

main {
    margin-top: 180px;
    margin-bottom: 80px;
}



main .menu-container{
    box-shadow: 0 0px 10px #777777;
    margin: 20px;
    border-radius: 0.5rem;
    padding: 20px;
    color: #f5f5f5;
}

@media(max-width: 400px ){
  main .menu-container{
    padding: 0;
    padding-bottom: 20px;
  }
}

main .menu-title {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;
}

main .menu-title h2{
    position: absolute;
    left: 50%;
    text-shadow: 0px 2px 0px #000000;
    background: #00000081;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 0.5rem;
    transform: translate(-50%);
}

main .menu-title img{
    object-fit: cover;
    width: 500%;
    height: 150px;
    border: #f5f5f5 solid 5px;
    border-radius: 0.5rem;
}

main .menu-item{
    align-items: center;
    padding: 10px;
    background: #03030317;
    justify-content: space-between;
    display: flex;
    border-radius: 0.5rem;
    margin-top: 10px;
    transition: box-shadow ease 0.5s;
    &:hover{
        box-shadow: 0 -3px 0px #f5f5f5 inset;
    }
}

main .menu-item div{
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}

main .menu-item button{
    cursor: pointer;
    background: #004d11;
    border-radius: 0.5rem;
    border: none;
    padding: 10px 9px;
    transition: all 0.3s;
    color: #f5f5f5;
    margin-right: 5px;
    &:hover{
        color: #0bd10b;
    }
}

/* menu spcial styles */

.menu-breakfast {
  background: linear-gradient(135deg, #F5B82E 0%, #C89B3C 100%);
}

.menu-fastfood {
  background: linear-gradient(135deg, #E63946 0%, #B23A48 100%);
}

.menu-iranian {
  background: linear-gradient(135deg, #3FA34D 0%, #2E7D32 100%);
}

.menu-italian {
  background: linear-gradient(135deg, #B23A48 0%, #8B1E3F 100%);
}
