* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/woff/YekanBakhFaNum-thin.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-thin.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/woff/YekanBakhFaNum-Light.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Light.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff/YekanBakhFaNum-Regular.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Regular.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/woff/YekanBakhFaNum-SemiBold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff/YekanBakhFaNum-Bold.woff") format("woff"),
    url("fonts/woff2/YekanBakhFaNum-Bold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBold.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/woff/Yekan Bakh FaNum-Black.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-Black.woff2") format("woff2");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 950;
  src: url("fonts/woff/Yekan Bakh FaNum-ExtraBlack.woff") format("woff"),
    url("fonts/woff2/Yekan Bakh FaNum-ExtraBlack.woff2") format("woff2");
}

body {
  font-family: YekanBakh;
  background: #000;
}

/* -- Main -- */
body {
  font-family: YekanBakh;
  background: url("../assets/images/pattern.jpg") no-repeat center center fixed;
  background-size: cover;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}



#main .main-section{
  text-align: center;
  border-radius: 10px;
  padding: 50px 0px;
  color: white;
  background: #941b0c;
  align-items: center;
  margin: 0px 100px;
  margin-top: 250px;
  transition: box-shadow ease 0.3s;
    &:hover{
      box-shadow: 0px 10px 0px #f1b10f;
    }
}

#main .main-section .main-gomenu{
    display: block;
    width: 30%;
    margin: 0px auto;
    margin-top: 10px;
    padding: 15px 0px;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #941b0c;
    background: #f1b10f;
    &:hover{
        transition: all 0.5s;
        transform: scale(1.1,1.1);
    }
}

/* Main Type food */

#main .foods{
  display: flex;
  margin: 100px;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 1000px){
  #main .foods {
    justify-content: center;
  }
}

#main .foods .food-type{
  gap: 20px;
  background: #f1b10f;
  padding: 40px;
  border-radius: 0.5rem;
  transition: box-shadow ease 0.3s;
  &:hover{
    box-shadow: 0px 7px 0px #941b0c;
  }
}

#main .foods .food-type .food-text{
  margin-top: 10px;
  align-items: center;
  color: #941b0c;
  display: flex;
  justify-content: space-between;
}

#main .foods .food-type button{
  font-family: YekanBakh;
  font-size: 16px;
  border: none;
  border-radius: 0.5rem;
  padding: 10px 20px;
  background: #941b0c;
  cursor: pointer;
  transition-property: transform;
  transition: box-shadow ease 0.3s;
}

#main .foods .food-type button:hover{
  box-shadow: 0px 4px 0px #f5f5f5;

}


#main .foods .food-type button a{
  text-decoration: none;
  color: #f5f5f5;
}

#main .foods .food-type img{
  border-radius: 0.5rem;
  width: 200px;
  border: #ffffff solid 5px;
}
